{% extends "article_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="row">
        <div class="col">
          <h1>Stress</h1>
          <div class="responsive">
		  	<iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://creativemarket.com/blog/how-to-deal-with-stress" frameborder="0" allowfullscreen></iframe>
            <iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://www.youtube.com/watch?v=15GaKTP0gFE" frameborder="0" allowfullscreen></iframe>
           
          </div>
        </div>
        <div class="col">
          <div class="card card1">
            <h4>How to Deal with Stress</h4>
            <br>
            <p>The linked blog post speaks to stress and the stress curve. It also goes on to talk about the warning signs and symptoms of stress, identifying the sources of stress, understanding the negative ways of handling stress, and how to avoid unnecessary stress.</p>
			<br>
			<br>
			<h4>What is Stress ?</h4>
            <br>
             <p>In simple terms, stress is the feeling of being overwhelmed or unable to cope with pressure whether it be mental or emotional. It is a person's normal response to a state of unbalance.<p> 
             <p>The symptoms of stress can fall into one of four categories being cognitive, emotional, physical and behavioural symptoms. The first step in learning how to manage your stress is understanding the source and the reason for the stress in the first place.</p>
			 <p>To do this, ask yourself,<i> What is causing me to worry?</i>,<i> Why is this causing me to worry? </i> and <i> Do i take responsibility for my stress?</i></p>
			 <p>After doing so, one can look and self reflect on the ways they use to handle stress and identify whether it be positive or negative. Some of the negative ways strss is handled include smoking, dirnking and drug abuse, physical abuse, verbal abuse, sleeping too much or too little and even withdrawing from people including friends and family.  </p>
    
          </div>
        </div>
      </div>
    {% endblock %}